*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    text-align: center;
}
.container{
    margin-top: 100px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 46px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.reset{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.box{
    height: 18vh;
    background: red;
    width: 18vh;
    border: none;
    border-radius: 4vmin;
    font-size: 8vh;
    color: white;
}
.hide{
    display: none;
}